{{ define "main" }}
<div class="mid">
<h2>All Posts</h2>
<a href="index.xml">
    <img src="/img/rss.svg">
</a>
<hr>
<ul class="post-list">
    {{ range (.Paginator).Pages }}
    <li>
        <a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="post-meta">
            <div>
            {{ partial "post-categories.html" . }}
            {{ partial "post-tags.html" . }}
            </div>
            {{ if eq .Lastmod (.PublishDate | default .Date) }}
            <span class="post-date">{{ (.PublishDate | default .Date).Format "January 2, 2006" }}</span>
            {{ else }}
            <span class="post-date tooltip">
                {{ (.PublishDate | default .Date).Format "January 2, 2006" }}
                <div class="tooltip-text">
                    Last Modified:
                    <a href="https://github.com/0xC0ncord/concord-site/commit/{{ .GitInfo.Hash }}">
                        {{ .Lastmod.Format "January 2, 2006" }}
                    </a>
                </div>
            </span>
            {{ end }}
        </div>
    </li>
    {{ end }}
</ul>
{{ partial "paginator.html" . }}
</div>
{{ end }}
