{{ define "main" }}
<div class="mid">
<h2>All Posts</h2>
<hr>
<ul class="post-list">
    {{ range (.Paginator).Pages }}
    <li>
        <a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="post-meta">
            <div>
            {{ partial "post-categories.html" . }}
            {{ partial "post-tags.html" . }}
            </div>
            {{ if eq .Lastmod .Date }}
            <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
            {{ else }}
            <span class="post-date tooltip">
                {{ .Date.Format "January 2, 2006" }}
                <div class="tooltip-text">
                    Last Modified: {{ .Lastmod.Format "January 2, 2006" }}
                </div>
            </span>
            {{ end }}
        </div>
    </li>
    {{ end }}
</ul>
{{ partial "paginator.html" . }}
</div>
{{ end }}
