{{ define "main" }}
<div class="mid">
<h2>All Posts</h2>
<a href="index.xml">
    <img src="/img/rss.svg">
</a>
<hr>
<ul class="post-list">
    {{ range (.Paginator).Pages }}
    <li>
        <a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="post-meta">
            <div>
            {{ partial "post-categories.html" . }}
            {{ partial "post-tags.html" . }}
            </div>
            {{ partial "post-date.html" . }}
        </div>
    </li>
    {{ end }}
</ul>
{{ partial "paginator.html" . }}
</div>
{{ end }}
