{{ define "main" }}
<div class="mid">
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-meta">
        <div>
        {{ partial "post-categories.html" . }}
        {{ partial "post-tags.html" . }}
        </div>
        {{ if eq .Lastmod (.PublishDate | default .Date) }}
        <span class="post-date">{{ (.PublishDate | default .Date).Format "January 2, 2006" }}</span>
        {{ else }}
        <span class="post-date tooltip">
            {{ (.PublishDate | default .Date).Format "January 2, 2006" }}
            <div class="tooltip-text">
                Last Modified: {{ .Lastmod.Format "January 2, 2006" }}
            </div>
        </span>
        {{ end }}
    </div>
    <div class="post-content">
    {{ .Content }}
    </div>
</div>
{{ end }}
